#that folder is just my planning, its not going to get pushed
misc/*
misc/

#ignore stuff that is linux only
game

#remove windows stuff
game.exe

#ignore unnecesary stuff
todo.txt 
thumbnail.png
README.md
